# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# BASH
*.csv
*.db*
*.json
submodules
submodules/*

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# idea
.idea/
